*~
.#*
*.go
autom4te.cache/
build-aux/
Makefile
Makefile.in
/configure
/env
/config.status
/config.log
/aclocal.m4
/doc/sly.aux
/doc/sly.cp
/doc/sly.fn
/doc/sly.fns
/doc/sly.info
/doc/sly.ky
/doc/sly.log
/doc/sly.pdf
/doc/sly.pg
/doc/sly.toc
/doc/sly.tp
/doc/sly.vr
/doc/sly.vrs
/doc/sly.html
/doc/sly.t2p
/2d/config.scm
/pre-inst-env
